# 核心
opencv-python>=4.8
numpy>=1.24
pyyaml>=6.0

# ADB
pure-python-adb>=0.3.0.dev0

# OCR
paddleocr>=2.7

# GUI
PyQt6>=6.5

# PC 端自动化
mss>=10.0
pydirectinput>=1.0
pygetwindow>=0.0

# 工具
schedule>=1.2
loguru>=0.7
pillow>=10.0
